{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">List Item</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_item">Add Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list_history">Item History</a>
        </li>


        <ul class="navbar-nav mr-auto " style="float: right;">

          {% if request.user.is_authenticated%}
            <li class="nav-item active">
              <a class="nav-link" href="sign_out"> <button>{{user}}|Logout</button>   </a>
            </li>
          {%else%}
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/login">Login</a>
          </li>
          {%endif%}

        </ul>


        

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> IMS Version 1.0 </button>
   <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
       <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">System Information</h4>
        </div>

        <div class="modal-body">
          <div class="dev-info">
            <p class=""><b>STOCK MANAGEMENT INFORMATION SYSTEMS</b></p>
            <P>VERSION: 1.0</P><br>
            <P class="modal-header">DEVELOPER:</P>
            <p>Muluneh</p>
            <p>777777</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

       </div>
    </div>

  </div>